/* line 1, ../../scss/components/column2.scss */
.goal, .specials {
  margin-bottom: 1em;
}

/* line 5, ../../scss/components/column2.scss */
.goal__asterisks {
  font-style: italic;
  margin-bottom: 1em;
}
/* line 8, ../../scss/components/column2.scss */
.goal__asterisks li {
  padding-bottom: .5em;
}

/* line 13, ../../scss/components/column2.scss */
.spicy-choice {
  margin-bottom: 1em;
}
